extends /pug/bases/header.pug

block headelms
	link(rel='stylesheet', type='text/css', href='styles/aboutus.min.css')

block content
	.section-title About Us
	img(src="resources/images/logos/svgs/ISTE.svg", alt="",class="logo")
	.card 
		p The Indian Society for Technical Education (ISTE) is a national, professional, non-profit organisation for the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of Students. The major objective of ISTE is to provide quality training programmes for teachers and administrators of technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers. 
		a(href="https://istenith.github.io") Click here to go to our official website!
	.card 
		h1 Tools Used
		p The Pahal website has been developed using the following tools
		ul
			li Pug.js Javascript library
			li 'Less' CSS Precompiler
			li 'npm' to manage node modules
			li INKSCAPE SE ISTE KA LOGO BANAYA HAI ABHAY NEE!!! 
			li Github to manage workflow and version control