extends /pug/bases/header.pug
block headelms
	title Documents Required - Pahal ISTE NIT Hamirpur admissions
	link(rel="stylesheet", type="text/css", href="styles/todo_doc.min.css")

block content
	section#docreq
		.section-title documents required
		.card Click the tasks below as they are completed to check them off.
			br
			br
			| Click the arrow to get more information about the task.
			br
			br
			| We will remember your progress even if you exit.
			br 
			br
			| Below is the list of documents required for admission through JoSAA

		-
			var docs = [
				{
					'title':'Provisional JoSAA Seat Allotment Letter 2022',
					'desc':'Issued by JoSAA on seat acceptance.'
				},
				{
					'title':'Receipt of the Remaining Institute Semester Fee',
					'desc':'Issued by JoSAA on seat acceptance.'
				},
				{
					'title':'Govt Issued Photo ID Proof',
					'desc':'Preferably Aadhaar Card'
				},
				{
					'title':'Passport size photographs',
					'desc':'Three passport size photographs similar to  one uploaded in JEE Main 2022 application form'
				},
				{
					'title':'Candidate Undertaking',
					'desc':'Download from official JoSAA 2022 portal'
				},
				{
					'title':'JEE Main Score Card 2022',
					'desc':'Download from the official results of JEE Main'
				},
				{
					'title':'JEE Main Admit Card 2022',
					'desc':'Download and get a hard copy of it'
				},
				{
					'title':'Class 10th Marksheet',
					'desc':'Class 10th Standard Mark Sheet or Date of Birth Proof'
				},
				{
					'title':'Class 12th Marksheet',
					'desc':'Class 12 (or equivalent) Mark Sheet and Pass Certificate'
				},
				{
					'title':'Migration Certificate',
					'desc':'original'
				},
				{
					'title':'Conduct/character Certificate',
					'desc':'Head of institute last attended'
				},
				{
					'title':'Class 12th Marksheet',
					'desc':'Class 12 (or equivalent) Mark Sheet and Pass Certificate'
				},
				{
					'title':'Valid photo Identity Card',
					'desc':'Aadhar card is preferred'
				},
				{
					'title':'Medical Certificate',
					'desc':'Get it from any government medical center or from the college dispensary'
				},
				{
					'title':'Category Certificate',
					'desc':'If applicable'
				},
				{
					'title':'PwD Certificate',
					'desc':'If applicable'
				},
				{
					'title':'OCI Certificate or PIO Card',
					'desc':'If applicable'
				},
				{
					'title':'Income and Aseet Certificate',
					'desc':'Issued by comptent authority'
				},
				{
					'title':'Affidavit about Correctness of Information',
					'desc':'Original, mandatory for every candidate'
				},
				{
					'title':'Affidavit of Study Gap',
					'desc':'original'
				},
				{
					'title':'Registration and Filled Choices for Seat Allotment',
					'desc':'Download from official JoSAA 2022 portal'
				}
			]
		each doc, index in docs
			.card.expand
				input(type="checkbox")
				.row
					.title
						.number= index+1
						.text= doc.title
					.arrow
				.row
					.desc!= doc.desc
	script(src="scripts/docreq.js")
