extends /pug/bases/header.pug
block headelms
	link(rel="stylesheet", type="text/css", href="/styles/todo_doc.min.css")

block content
	section#docreq
		.section-title documents required
		.card Click the tasks below as they are completed to check them off.
			br
			br
			| Click the arrow to get more information about the task.
			br
			br
			| We will remeber your progress even if you exit.
			br 
			br
			| Below is the list of documents required for admission through JOSAA

		-
			var docs = [
				{
					'title':'Provisional JoSAA Seat Allotment Letter 2019',
					'desc':'Take forms, fill them and arrange in documents in order'
				},
				{
					'title':'Passport size photographs',
					'desc':'Three passport size photographs similar to one uploaded in JEE Main 2019 application form'
				},
				{
					'title':'Candidate Undertaking',
					'desc':'Download from official JoSAA 2019 portal'
				},
				{
					'title':'JEE Main Score Card 2019',
					'desc':'Download from the official results of JEE Main'
				},
				{
					'title':'JEE Main Admit Card 2019',
					'desc':'Download and get a hard copy of it'
				},
				{
					'title':'Class 10th Marksheet',
					'desc':'Class 10th Standard Mark Sheet or Date of Birth Proof'
				},
				{
					'title':'Class 12th Marksheet',
					'desc':'Class 12 (or equivalent) Mark Sheet and Pass Certificate'
				},
				{
					'title':'Valid photo Identity Card',
					'desc':'Aadhar card is preferred'
				},
				{
					'title':'Medical Certificate',
					'desc':'Get it from any government medical center or from the college dispensary'
				},
				{
					'title':'Category Certificate',
					'desc':'If applicable'
				},
				{
					'title':'PwD Certificate',
					'desc':'If applicable'
				},
				{
					'title':'OCI Certificate or PIO Card',
					'desc':'If applicable'
				},
				{
					'title':'Registration and Filled Choices for Seat Allotment',
					'desc':'Download from official JoSAA 2019 portal'
				}
			]
		each doc, index in docs
			.card
				.row
					span.number= index+1
					span.title= doc.title
				.row
					if doc.desc
						input.expand(type="checkbox")
						.expand.fas.fa-sort-down
						.desc= doc.desc
	script(type="text/javascript" src="../scripts/docreq.js")
