extends /pug/bases/header.pug

block headelms
	link(rel="stylesheet" href="styles/faq.min.css" type="text/css")

block content
	section#faq
		.section-title FAQ
		.card
			b Data provided should not be assumed as official.
		-
			var faqs = [
				{
					'ques':'Are all documents necessary at the time of admission',
					'ans' :'Not necessarily, documents like JoSAA letter, ID proof are must. Other missing document can be declared and submited after wards. For more info see <a href="/pages/docreq.html">documnets required</a>.'
				},
				{
					'ques':'When will teaching begin',
					'ans' :'Teaching will begin soon, within 1-2 days after end of 7<sup>th</sup> round seat acceptance (i.e. 23<sup>rd</sup> july, 2019).'
				},
				{
					'ques':'Can I get my medical certificate made at NIT Hamirpur',
					'ans' :'Yes, it\'s fairly easy, NIT\'s dispensary is near auditorium where admission process will take place.'
				},
				{
					'ques':'Can I get my medical certificate made at NIT Hamirpur',
					'ans' :'Yes there is facility of notary arranged for convenence'
				},
				{
					'ques':'Can I get my medical certificate made at NIT Hamirpur',
					'ans' :'Yes there is facility of notary arranged for convenence'
				},
			]
		each faq in faqs
			.card.expand
				input(type="checkbox")
				.row
					.title Q. #{faq.ques}?
					.arrow &#x23F7;
				.row
					.desc!= faq.ans
