extends /pug/bases/header.pug

block headelms
	title FAQ - Pahal ISTE NIT Hamirpur admissions
	link(rel="stylesheet" href="styles/expand.min.css" type="text/css")

block content
	section#faq
		.section-title FAQ
		.card
			b Data provided should not be assumed as official.
		-
			var faqs = [
				{
					'ques':'Are all documents necessary at the time of admission',
					'ans' :'Not necessarily, documents like JoSAA letter, ID proof are must. Other missing document can be declared and submitted after wards. For more info see <a href="docreq.html" target="_blank">documents required</a>.'
				},
				{
					'ques':'When will teaching begin',
					'ans' :'Soon after end of admission process,(23<sup>rd</sup> July). Students should come prepared for accommodation'
				},
				{
					'ques':'Can I get my medical certificate made at NIT Hamirpur',
					'ans' :'Yes, it\'s fairly easy, NIT\'s dispensary is near auditorium where admission process will take place.'
				},
				{
					'ques':'Can I get my study gap certificate made at NIT Hamirpur',
					'ans' :'Yes there is facility arranged for convenience of students.'
				},
				{
					'ques':'I paid extra/less mess advances, what to do',
					'ans' :'Try not to do but dues/extras would be carried over to next semester. But, if everybody pays less it would decrease quality of food as mess would be low on funds.'
				},
				{
					'ques':'What is my roll no. and what it means',
					'ans' :'Your get your roll no. in second step as in todo. Your roll no. is of format YYBSSS (Y: year, B: Branch, S: Serial No.)(Ex. 198021 19: 2019, 8: Materials Science and Engineering, 021: Serial No.) for dual degree students first digit in place of S is 5(ex. 19526 CSE DD). '
				},
				{
					'ques':'Can I get my room changed',
					'ans' :'Yes, contact your room allotment authority.'
				},
			]
		each faq in faqs
			.card.expand
				input(type="checkbox")
				.row
					.title Q. #{faq.ques}?
					.arrow
				.row
					.desc!= faq.ans
