extends /pug/bases/header.pug

block headelms
	title Map - Pahal ISTE NIT Hamirpur admissions
	link(rel='stylesheet', type='text/css', href='styles/map.min.css')

block content
	.map
		img(src='resources/images/NITH-MAP-2022.png', alt='NITH MAP')
	

	script(src='scripts/map.js').
