extends ../bases/header.pug
block stylesheets
	link(rel="stylesheet" href="/views/styles/todo.css")

block content
	div.container
		- var todos = ["step1", "step2", "step3", "step4"];
		each todo, index in todos
			div.card
				input(type="checkbox")
				div.number= index+1
				div.info #{todo}
