extends /pug/bases/header.pug
block headelms
	link(rel="stylesheet", type="text/css", href="/styles/todo_doc.min.css")

block content
	section#todo
		.section-title todo
		.card Click the tasks below as they are completed to check them off.
			br
			br
			| Click the arrow to get more information about the task.
			br
			br
			| We will remeber your progress even if you exit.
			
		-
			var todos = [
				{
					'title':'Kaam Bhari Karo',
					'desc':'Jaag jao kaam bahri karo'
				},
			]
		each todo, index in todos
			.card.expand
				input(type="checkbox")
				.row
					.title 
						.number #{index+1}
						.text #{todo.title}
					.arrow &#x23F7
				.row
					if todo.desc
						.desc= todo.desc
	script(type="text/javascript" src="../scripts/todo.js")
