extends /pug/bases/header.pug
block headelms
	link(rel="stylesheet", type="text/css", href="styles/todo_doc.min.css")

block content
	section#todo
		.section-title todo
		.card 
			| Click the tasks below as they are completed to check them off.
			br
			br
			| Click the arrow to get more information about the task.
			br
			br
			| We will remeber your progress even if you exit.
			br
			br
			| At any time if you get stuck, ask ISTE members around you we will be more than happy to help as soon as we're free
			
		-
			var todos = [
				{
					'title':'Collect forms and fill',
					'desc' :'Collect forms from counter no. 1 and arrange them in order given in Docs Required form menu.'
				},
				{
					'title':'Get documents checked and yourself registered.',
					'desc' :'This would be done in auditorium. Get documents checked from counter of your branch. Registration would be carried on the stage of auditorium.'
				},

				/* time dependent content */
				{
					'title':'Get yourself enrolled',
					'desc' :'This process would take place in confrence room(above auditorium). You will get your Roll no. like 19XYYY(see advisory).'
				},
				/* requires attention */
				{
					'title':'Hostel admission',
					'desc' :'This would take place at XXX. Also a small amount have to be paid(through SBI collect or challan)'
				},
				{
					'title':'Room allotment',
					'desc' :'This would take place in MMCA office at KBH for Boys and at AGH for girls. Rooms will be allotted on random basis or choice upon request'
				},
				{
					'title':'Congratulations!!',
					'desc' :'Welcome to NIT-Hamirpur! Now that all the tiresome admission process is over, there are still a few days for the classes to begin.
					         You can explore the place where you\'ll be spending 4-5 years of your life <a href="http://nith.ac.in/" target="_blank">NIT-H website</a> or take a look at the <a href="http://nith.ac.in/wp-content/uploads/2018/08/ug_manual_oct15.pdf" target="_blank">UG Manual</a>.' +
				},
				},
				        
			]
		each todo, index in todos
			.card.expand
				input(type="checkbox")
				.row
					.title 
						.number #{index+1}
						.text #{todo.title}
					.arrow
				.row
					if todo.desc
						.desc= todo.desc
	script(type="text/javascript" src="scripts/todo.js")
