@import (reference) 'library.less';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.25s ease-in-out;
}
a {
	text-decoration: none;
	color: @iste-blue;
}
:root {
	--pri-text: #fff;
	--sec-text: darken(#fff,30%);
	--ter-text: darken(#fff, 50%);

	--nav-bg: #212121;
	--pri-bg: #303030;
	--card-bg: #424242;

	--white-grey: darken(#fff,21%);
}

[data-theme="light"] {
	--pri-text: #333;
	--sec-text: lighten(#333,30%);
	--ter-text: lighten(#333, 50%);

	--nav-bg: #fff;
	--pri-bg: #e0e0e0;
	--card-bg: #fff;

	--white-grey: grey;
}
.expand {
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	input {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 3em;
		opacity: 0;
		z-index: 3;
	}
	.arrow {
		pointer-events: none;
	}
	.title {
		.fw6();
		transition: none;
		padding-right: 1em;
		display: flex;
		align-items: center;
	}
	.desc {
		.pri-text();
		padding-top: 0;
		margin-top: 0;
		max-height: 0px;
		overflow: hidden;
		width: 100%;
	}
	input:checked {
		&~.row .arrow {
			transform: rotate(180deg);
			transform-origin: 50% 39%;
		}
		&~.row .desc {
			max-height: 150px;
			padding-top: 0.5em;
			margin-top: 0.5em;
			border-top: 2px dashed var( --ter-text );
		}
	}
}
.section-title,
.card {
	.small-shadow();
}
.section-title {
	.upper();
	.fw7();
	.txt-center();
	padding: 0.6em;
	background-color: @iste-blue;
	color: white;
	font-size: 27px;
}
.card {
	.card-bg();
	.pri-text();
	position: relative;
	margin: 0.5em;
	border-radius: 0.3em;
	padding: 1em;
}
