@import (reference) 'library.less';
.card {
	width: 95%;
	max-width: 399px;
	margin: 1em auto;
	padding: 2em;
}
form {
	input, textarea {
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		padding: 0.5em 1em;
		margin: 0.5em 0;
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	.bottom-border(@color) {
		border-bottom: 3px solid @color;
	}

	input:not(#send), textarea {
		.fw6();
		.card-bg();
		.pri-text();
		border: none;
		.bottom-border(@iste-blue);
		caret-color: @iste-blue;
		&:focus {
			.bottom-border(var(--pri-text));
			&:invalid {
				.bottom-border(#f44336);
			}
			&:required:valid {
				.bottom-border(#5cb85c);
			}
		}
		&:invalid {
			box-shadow: none;
		}
	}
	&>input{
		.txt-center();
	}
	textarea {
		resize: none;
	}
	.radio {
		* {
			width: unset;
			padding: 0.5em;
			.fw6();
		}
	}
}
#send {
	background: @iste-blue;
	color: #fff;
	border: none;
}
