@import (reference) 'library.less';
.row {
	display: flex;
	align-items: center;
}
/*@font-face {
	font-family: 'Iconic';
	src: 
	url(/resources/fonts/iconic.woff2) format('woff2'),
	url(/resources/fonts/iconic.woff) format('woff'),
	url(/resources/fonts/iconic.ttf) format('truetype'),
	url(/resources/fonts/iconic.svg) format('svg'),
	url(/resources/fonts/iconic.eot) format('embedded-opentype');
	unicode-range: U+a00?;
}
.icon {
	font-family: 'Iconic' !important;
	font-weight: 400 !important;
}*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&display=swap');
body {
	font-family: 'Montserrat', sans-serif;
	.pri-bg();
}

header {
	.upper();	
	.card-bg();
	.large-shadow();
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 7;
	.row {
		font-size: 21px;
		width: 100%;
		padding: 1em;
		padding-right: 0;
		justify-content: space-between;
		#logo {
			.row();
			img {
				width: 36px;
			}
			span {
				.fw7();
				padding-left: 0.5em;
				color: @iste-blue;
			}
		}
		#menu-btn {
			.btn-padding();
			.pointer();
			color: @iste-blue;
		}
	}
	.bottom {
		color: var(--white-grey);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 1em;
		&, b{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		span {
			font-size: 1.5em;
			padding-right: 0.25em;
		}
	}
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		overflow: hidden;

		/* Hide default HTML checkbox */
		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		/* The slider */
		.slider {
			background: grey;
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
		}

		input:checked + .slider {
			background-color: @iste-blue;
		}

		input:checked + .slider:before {
			transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}
	}
	#menu{
		.card-bg();
		.large-shadow();
		position: fixed;
		top: 0;
		right: 0;

		height: 100vh;
		z-index: 9;
		padding: 1.5em;
		#close-menu {
			.txt-center();
			.pointer();
			color: var(--white-grey);
			font-family: sans-serif;
			padding: 0.5em;
			font-size: 32px;
		}
		ul {
			list-style: none;
			li a {
				.fw6();
				display: block;
				padding: 1em 1.5em;
				border-bottom: 2px  solid var( --white-grey );
				color: var(--white-grey);
				min-width: 210px;
			}
			li:last-child a {
				border: none;
			}
		}
	}
	#menu.off-screen {
		transform: translateX(100%);
		box-shadow: none;
		.icon:first-child {
			transform: rotate(90deg);
		}
	}
}
