@import (reference) 'library.less';

#banner {
    color: white;
    width: 100%;
    padding: 10vh 5vw;
    font-size: 1.5rem;
    background: url(../resources/images/college_backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        letter-spacing: 10px;
    }
    .shadow {
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 10px 0px;
    }
}

.link-grid {
    width: fit-content;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 30px 30px;
    .link-square {
        .small-shadow();
        background: rgba(255,255,255,0.08);
        * {
            margin: 20px auto;
            width: fit-content;
            padding: 0;
            color: white;
        }
        i {
            margin-top: 40px;
            font-size: 3em;
            display: block;
        }
    }
    .link-square:hover {
        background:rgba(255,255,255,0.16);
    }
}

@media screen and (min-width: 1000) {
    .link-grid {
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px;
        grid-column-gap: 20px;
        .link-square {
            margin: 0;
        }
    }
}
