@import (reference) 'library.less';

#banner {
    color: white;
    width: 100%;
    padding: 10vh 5vw;
    font-size: 1.5rem;
    background: url(../resources/images/college_backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        letter-spacing: 10px;
    }
    .shadow {
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 10px 0px;
    }
}

.link-flex {
    width: 100%;
    margin: 40px auto;
    display: flex;
	justify-content: center;
    flex-wrap: wrap;
    .link-square {
        .small-shadow();
		.card-bg();
		.txt-center();
		position: relative;
        width: 144px;
        height: 144px;
		margin: 1em;
        * {
			.pri-text();
        }
		.title {
			padding: 1em;

		}
        i {
            font-size: 3em;
			display: block;
			padding: auto;
		}
		.link-square:hover {
			.large-shadow();
		}
    }
}
