extends /pug/bases/header.pug

block headelms
	link(rel="stylesheet", type="text/css", href="styles/index.min.css")

block content
	section#todo
		.section-title TODO
		-
			var todos = [
				{
					'title':'Take forms from counter',
					'desc':'Take forms, fill them and arrange in documents in order'
				},
				{
					'title':'Take forms from counter',
					'desc':'Take forms, fill them and arrange in documents in order'
				},
				{
					'title':'Take forms from counter',
					'desc':'Take forms, fill them and arrange in documents in order'
				}
			]
		each todo, index in todos
			.card
				if todo.desc
					input(type="checkbox").desc
				.row
					span.number= index+1
					span.title= todo.title
				.row
					if todo.desc
						span.expand.icon &#x21af;
						.desc= todo.desc
	script(type="text/javascript" src="scripts/index.js")
