extends /pug/bases/header.pug

block headelms
	link(rel="stylesheet", type="text/css", href="styles/index.min.css")
	link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css")

block content
	section#banner
		div.shadow
			h1 PAHAL
			p An initiative by ISTE, NIT Hamirpur
	-
		var buttons = [
			{"title":"TODO","icon":"fas fa-list","link":"/pages/todo.html"},
			{"title":"MAP","icon":"fas fa-map-marked","link":"#"},
			{"title":"FAQ","icon":"fas fa-question-circle","link":"/pages/faq.html"},
			{"title":"FEEDBACK","icon":"fas fa-comments","link":"/pages/feedback.html"},
			{"title":"ABOUT US","icon":"fas fa-user-friends","link":"https://istenith.github.io/"}
		]
		
	.link-grid
		each button in buttons
			a(class="link-square",href=button.link)
				div.title= button.title
				i(class=button.icon)
				