doctype html
html(lang='en')
	head
	        <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143546017-2"></script>
                <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-143546017-2');
                </script>

		meta(name='viewport' content='width=device-width, initial-scale=1.0' )
		link(rel='stylesheet', type='text/css', href='styles/header.min.css')
		link(rel="stylesheet" href="styles/commons.min.css" type="text/css")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css")

		// Open Graphs
		meta(property='og:title', content='Pahal - ISTE NIT Hamirpur admissions')
		meta(property='og:site_name', content='Pahal')
		meta(property='og:url', content='https://istenith.com/pahal')
		meta(property='og:description', content='NIT Hamirpur UG admissions, tools and info: peer operated website')
		meta(property='og:type', content='website')
		meta(property='og:image', content='https://istenith.com/pahal/pahal_bg_dark.png')
		// /Open Graphs 

		// Favicons
		link(rel="apple-touch-icon", sizes="180x180", href="apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="favicon-16x16.png")
		link(rel="manifest", href="manifest.json")
		link(rel="mask-icon", href="safari-pinned-tab.svg", color="#2b2b2b")
		meta(name="apple-mobile-web-app-title", content="PAHAL")
		meta(name="application-name", content="PAHAL")
		meta(name="msapplication-TileColor", content="#2b2b2b")
		meta(name="theme-color", content="#2b2b2b")
		// /Favicons

		block headelms
	body
		header
			.row
				a#logo(href='https://istenith.com/pahal')
					img(src='resources/images/logos/ISTE.png' alt='ISTE logo')
					span ISTE

				#menu-btn.fas.fa-bars

			nav#menu.off-screen
				ul
					-
						var options = [
							{
								'text':'Home',
								'link':'index.html'
							},
							{
								'text':'todo',
								'link':'todo.html'
							},
							{
								'text':'Docs Required',
								'link':'docreq.html'
							},
							{
								'text':'Map',
								'link':'map.html'
							},
							{
								'text':'FAQ',
								'link':'faq.html'
							},
							{
								'text':'Feedback',
								'link':'feedback.html'
							},
							{
								'text':'About Us',
								'link':'aboutus.html',
							},
						];
					each option in options
						li
							if option.target
								a(href=option.link target=option.target)!= option.text
							else
								a(href=option.link)!= option.text
				.bottom
					b 
						span.fas.fa-sun
						| Dark
					label#color-mode-switch.switch
						input(type='checkbox' checked)
						span.slider.round
				#close-menu &#x00d7;

		#filler
		script(src='scripts/utilities.js').

		block content
		script(src='scripts/header.js').
