doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/styles/header.min.css')
		link(rel="stylesheet" href="/styles/commons.min.css" type="text/css")
		link(rel='preload' as='font')
		block headelms
	body
		header
			.row
				a#logo(href='https://istenith.me')
					img(src='/resources/images/logos/pngs/ISTE.png')
					span ISTE

				#menu-btn.icon &#xa001;

			nav#menu.off-screen
				ul
					-
						var options = [
							{
								'text':'Home',
								'link':'/'
							},
							{
								'text':'todo',
								'link':'/pages/todo.html'
							},
							{
								'text':'Map',
								'link':'#'
							},
							{
								'text':'FAQ',
								'link':'/pages/faq.html'
							},
							{
								'text':'Feedback',
								'link':'/pages/feedback.html'
							},
							{
								'text':'About Us',
								'link':'https://istenith.github.io/'
							}
						];
					each option in options
						li
							a(href=option.link target="blank") #{option.text}
				#close-menu &#x00d7;
				.bottom
					b 
						span.icon &#xa005;
						| Dark mode
					label#color-mode-switch.switch
						input(type='checkbox' checked)
						span.slider.round

		#filler

		block content
		script(type='text/javascript' src='/scripts/header.js').
