doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/styles/header.min.css')
		link(rel="stylesheet" href="/styles/commons.min.css" type="text/css")
		block headelms
	body
		header
			.row
				a#logo(href='https://istenith.me')
					img(src='/resources/images/logos/pngs/ISTE.png')
					span ISTE
				#menu-btn.icon &#x2261;

			nav#menu.off-screen
				ul
					-
						var options = [
							{
								'text':'Home',
								'link':'/'
							},
							{
								'text':'todo',
								'link':'/pages/todo.html'
							},
							{
								'text':'Map',
								'link':'#'
							},
							{
								'text':'FAQ',
								'link':'/pages/faq.html'
							},
							{
								'text':'Feedback',
								'link':'/pages/feedback.html'
							},
							{
								'text':'About Us',
								'link':'https://istenith.github.io/'
							}
						];
					each option in options
						li
							a(href=option.link target="blank") #{option.text}
				#close-menu &#x00d7;
		#filler

		block content
		script(type='text/javascript').
			document.getElementById('filler').style.height = 
			(document.getElementsByTagName('header')[0].offsetHeight + 6) + 'px';

			var menuBtn = document.getElementById('menu-btn');
			menuBtn.onclick = function(eve) {
				document.getElementById('menu').classList.remove('off-screen');
			};

			var closeMenuBtn = document.getElementById('close-menu');
			closeMenuBtn.onclick = function(eve) {
				document.getElementById('menu').classList.add('off-screen');
			};
