doctype html
html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0' )
		link(rel='stylesheet', type='text/css', href='styles/header.min.css')
		link(rel="stylesheet" href="styles/commons.min.css" type="text/css")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css")
		block headelms
	body
		header
			.row
				a#logo(href='https://istenith.me')
					img(src='resources/images/logos/pngs/ISTE.png')
					span ISTE

				#menu-btn.fas.fa-bars

			nav#menu.off-screen
				ul
					-
						var options = [
							{
								'text':'Home',
								'link':'index.html'
							},
							{
								'text':'todo',
								'link':'todo.html'
							},
							{
								'text':'Docs Required',
								'link':'docreq.html'
							},
							{
								'text':'Map',
								'link':'map.html'
							},
							{
								'text':'FAQ',
								'link':'faq.html'
							},
							{
								'text':'Feedback',
								'link':'feedback.html'
							},
							{
								'text':'About Us',
								'link':'aboutus.html',
							}
						];
					each option in options
						li
							if option.target
								a(href=option.link target=option.target)!= option.text
							else
								a(href=option.link)!= option.text
				.bottom
					b 
						span.fas.fa-sun
						| Dark
					label#color-mode-switch.switch
						input(type='checkbox' checked)
						span.slider.round
				#close-menu &#x00d7;

		#filler
		script(type='text/javascript' src='scripts/utilities.js').

		block content
		script(type='text/javascript' src='scripts/header.js').
