doctype html
html
	head
		link(rel="stylesheet" href="../styles/header.css")
		block headelms
	body
		header
			a#logo(href="https://istenith.me")
				img(src="/resources/images/logos/pngs/ISTE.png")
				span ISTE
			input(type="checkbox" checked)
			nav#menu
				ul
					- var options = [ "TODO", "Map", "Nearby", "Suggestions", "About Us" ]
					each option in options
						li
							a #{option}
		block content
